@{
  Layout = "_Layout";
}

<h2> Where to? </h2>
<div>@Html.ActionLink("View Stylists", "Index", "Stylists")</div>
<div>@Html.ActionLink("View Clients", "Index", "Clients")</div>
<div>@Html.ActionLink("Search", "Index", "Search")</div>