@{
  Layout = "_Layout";
}
<br>
<h2> <strong>Where to?</strong> </h2>
<br>
<br>
<div class="homeNav">
<div>@Html.ActionLink("View Stylists", "Index", "Stylists")</div>
<div>@Html.ActionLink("Search", "Index", "Search")</div>
<div>@Html.ActionLink("View Clients", "Index", "Clients")</div>
</div>