@{
  Layout = "_Layout";
}

<h1> Eau Claire's Salon </h1>
<div>@Html.ActionLink("Stylists", "Index", "Stylists")</div>
<div>@Html.ActionLink("Clients", "Index", "Clients")</div>
<div>@Html.ActionLink("Search", "Index", "Search")</div>